.is-invisible {
  visibility: hidden;
}

.animation-trigger {
  position: absolute;
  left: 45%
}

.speech-bubble {
	position: relative;
  border-radius: 10px;
  background: white;
  bottom: 50px;
  box-shadow: 10px 10px 50px rgba(142, 89, 255, 0.1);
}

.speech-bubble p {
  padding: 25px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid white;
	margin-left: -14px;
  margin-bottom: -30px;
}

.characters {
  align-items: flex-end;
}

.characters > * {
  margin-right: 32px;
  width: 200px;
}

.characters > *:last-child {
  margin-right: 0;
}

/* slide in animation */
[data-animation-type="slide-in"] {
  transition: transform 2s ease-out;
  transform: translateX(0); /* we need to set transform to make animation work */
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

.slide-in {
  animation: slide-in 2s forwards;
}

/* fade in animation */
[data-animation-type="fade-in"] {
  opacity: 1;
}

@keyframes fade-in {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

[data-animation-typee="fade-out"] {
  opacity: 1;
}

.fade-in {
  animation: fade-in 2s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}

.fade-out {
  animation: fade-out 2s forwards;
}
