form label {
  color: var(--color-text-primary);
  display: block;
  margin-bottom: 10px;
  padding-left: 5px;
}

form input:not([type=submit]), textarea {
  background-color: var(--color-bg-dark);
  box-sizing: content-box;
  caret-color: var(--color-accent);
  color: var(--color-accent);
  border: 2px solid var(--color-tags);
  box-sizing: border-box;
  border-radius: 70px;
  height: 45px;
  width: 370px;
  padding: 10px 0 8px 18px;
}

form textarea {
  min-height: 80px;
  border-radius: 20px;
}

form input:not([type=submit]):hover, textarea:hover {
  background-color: var(--color-bg-light);
  border-color: transparent;
  box-shadow: 0 0 0 4px #E7DBFF;
}

form input:not([type=submit]):focus, textarea:focus {
  background-color: var(--color-bg-light);
  border-color: var(--color-accent);
}

form input[type="submit"] {
  border: 0;
  font-family: Gilroy;
}

form input::placeholder, textarea::placeholder {
  color: var(--color-tags);
  font-family: Gilroy;
  font-weight: semibold;
}

.input-container {
  margin-bottom: 24px;
}

.input-container:last-child {
  margin-bottom: 0;
}

.form-action {
  margin-top: 32px;
}

.error-message {
  margin-top: 10px;
  color: var(--color-error);
  display: none;
  font-size: 12px;
  padding-left: 18px;
}

form .touched:invalid + span {
  display: block;
}


form .touched:invalid {
  border-color: var(--color-error);
}
