/* overrides */

a {
  text-decoration: none;
}

html {
  background: url('../images/background-purple.svg') no-repeat center fixed;
  background-size: 100% 100%;
}

/*  */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.as-column {
  flex-direction: column;
}


/* typography */

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf');
  font-weight: 600;
  font-style: bold;
}

html {
  font-family: Gilroy;
}

.title {
  color: #8E59FF;;
  font-weight: 800;
  font-size: 2rem;
}

/* forms */

.btn {
  background: #8E59FF;;
  border-radius: 100px;
  box-shadow: 4px 4px 30px rgba(20, 0, 255, 0.25);
  color: white;
  display: block;
  padding: 1rem 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

/* main page */

.image-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.image-container img {
  width: 75%;
  height: auto;
}

.title-container {
  padding-bottom: 2rem;
}
