/* overrides */
/* #8E59FF purple */
/* #F3BC55: yellow */
/* #56548C */

/* color variables */

:root {
  --color-bg-light: #FDFCFF;
  --color-bg-dark: #FAF7FE;
  --color-accent: #8E59FF;
  --color-accent-2: #FBD15B;
  --color-text-body: #56548C;
  --color-text-explainers: #7F7EAA;
  --color-tags: #C7BED3;
}

/* typography */

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf');
  font-weight: bold;
}

html {
  font-family: Gilroy;
}

h1, h2, h3, h4, h5, h6, p, b, span {
  color: var(--color-text-body);
}

h1 {
  font-size: 85px;
  line-height: .9;
  font-weight: 800;
}

h2 {
  font-size: 44px;
  line-height: 39px;
}

/* shared */

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.vertical_center {
  align-items: center;
}

.as-column {
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}

/* links */

a {
  color: var(--color-text-body);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: capitalize;
  /* increase click area */
  padding: 16px;
}

a:hover {
  color: #817FB9;
}

a:active {
  color: #373576
}

a:disabled {
  color: #D3DCE6;
}

/* global */

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: var(--color-bg-light);
}

.site-container {
  margin: 0 auto;
  max-width: 1250px;
}

/* background */

.background_image_text {
  position: absolute;
  z-index: -1;
}

.background_image_pattern {
  right: 0;
  position: absolute;
  z-index: -2;
}

/* header */

.main-header {
  padding: 37px 50px 0 50px;
}

/* nav */

nav > * {
  align-items: center;
  display: flex;
}

nav > :last-child {
  margin-left: 16px;
}

/* main */

main {
  padding: 80px 100px 0 100px;
}

.main-title_container {
  max-width: 523px;;
  padding-top: 38px;
}

.main-actions_container {
  margin-top: 50px;
}

.main-actions_container > :first-child {
  margin-right: 48px;
}

/* forms */

.btn {
  background: var(--color-accent);
  border-radius: 70px;
  box-shadow: 20px 20px 50px rgba(127, 75, 238, 0.3);
  color: white;
  display: block;
  padding: 17px 35px;
  font-weight: bold;
}

.btn:hover {
  background: #A67CFF;
  color: white;
}

.btn:focus {
  background: #8155DE;
  color: white;
}

.btn-secondary {
  background: var(--color-accent-2);
}

.btn-secondary:hover {
  background: #FFD96D;
}

.btn-secondary:focus {
  background: #E3A800;
}

/* random activity */

.random-activity-link {
  color: black;
  text-decoration: underline;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* utility */

.is-hidden {
  visibility: hidden;
}


/* find activity page */

.find-activity_text-container {
  margin: 100px 0;
}
