/* overrides */
/* #8E59FF purple */
/* #F3BC55: yellow */
/* #56548C */

/* typography */

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.otf');
  font-style: bolder;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf');
  font-style: bold;
}

html {
  font-family: Gilroy;
}


/* shared */
.flex {
  display: flex;
}

.flex-columns-2 > * {
  flex: 1;
}

.flex-align_center {
  align-items: center;
}

/* links */

a {
  color: #56548C;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  /* background: url('../images/background-purple.svg') no-repeat center fixed; */
}

/* header */

.main-header {
  padding: 50px 50px 0 50px;
}

/* nav */

nav.top-nav {
  justify-content: flex-end;
}

nav > * {
  margin-left: 50px;
  align-items: center;
  display: flex;
}

nav > *:first-child {
  margin-left: 0;
}

/*  */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.as-column {
  flex-direction: column;
}


.title {
  color: #8E59FF;;
  font-weight: 800;
  font-size: 3rem;
}

/* forms */

.btn {
  background: #8E59FF;;
  border-radius: 100px;
  box-shadow: 4px 4px 30px rgba(20, 0, 255, 0.25);
  color: white;
  display: block;
  padding: 17px 35px;
  font-weight: bold;
}

/* random activity */

.random-activity-link {
  color: black;
  text-decoration: underline;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.is-hidden {
  visibility: hidden;
}
